In [1]:
%matplotlib inline

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Lists

In [5]:
#Using range() to create an list
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [6]:
#Words seperate into letters in list
list("abcdef")

['a', 'b', 'c', 'd', 'e', 'f']

In [32]:
# *List comprehension e.g. makes a list of x^2 of a given x (range 1~10)
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [38]:
#List.append
pricesInEuro = [1024, 399, 20000]
pricesInTWD = []
conv = 34.1415677
for i in pricesInEuro:
    pricesInTWD.append(i*conv)
pricesInTWD

[34960.9653248, 13622.485512300002, 682831.354]

In [103]:
#Combine strings
L = '424 2299 343'.split()
print(L)
' '.join(L)

['424', '2299', '343']

'424 2299 343'

In [108]:
##Methods in strings
L.sort() #Sort objects in lists

['2299', '343', '424']

In [111]:
string = "哈 哈  哈   哈"
string[::-1]

'哈   哈  哈 哈'

# For Loop (For 迴圈)

In [31]:
#Sum of numbers from 1 to 100
S=0
for i in range(1, 101):
    S+=i
S

5050

# String Split

In [60]:
conv = 34.1415677
output = []
x = input("輸入幾個數字: ")
numbers = x.split()
for i in numbers:
    priceinTWD = float(i)*conv
    output.append(priceinTWD)
    print("價格:",priceinTWD)

輸入幾個數字: 2
價格: 68.2831354

# Function

In [63]:
def convert(x):
    return(float(x)*conv)

# Map functions into a list

In [74]:
L = '418294 1481294 4179442'.split()
list(map(convert,L)) #map(function, list)

[14281212.9195038, 50573699.384603806, 142692701.99122342]

# Functions for emergency use(?): lambda

In [69]:
lamb = lambda x:x*conv  #lambda input:output(function)

In [70]:
lamb(2)

68.2831354

In [75]:
L

['418294', '1481294', '4179442']

In [78]:
list(map(lambda x:float(x)*conv, L))

[14281212.9195038, 50573699.384603806, 142692701.99122342]

In [79]:
ex = [5, 4, 8, 7]
list(map(lambda x:2*x+1, ex))

[11, 9, 17, 15]

# More about list comprehension

In [84]:
L

['418294', '1481294', '4179442']

In [87]:
[float(p)*conv for p in L]  #for all elements in L, convert them to float and multiply by conv(34.141)

[14281212.9195038, 50573699.384603806, 142692701.99122342]

In [116]:
from ipywidgets import interact

#超

In [118]:
def move(n=1):
    print(" "*n+"(ﾟ∀ﾟ)"+" "*(40-2*n)+"(ﾟ∀ﾟ)"+" "*n)

In [119]:
interact(move, n=(1,20))

interactive(children=(IntSlider(value=1, description='n', max=20, min=1), Output()), _dom_classes=('widget-int…